.box {
  width: 60px; 
  height: 60px;
  border: 2px solid var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3px;
  background-color: transparent; 
  color: var(--color-tone-1);
  transition: all 0.2s ease-in-out;
}

.box.filled {
  border-color: var(--color-tone-2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.box.grey {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
}

.box.green {
  background-color: var(--color-green);
  border-color: var(--color-green);
  box-shadow: 0 0 10px var(--color-green);
}

.box.yellow {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
  box-shadow: 0 0 10px var(--color-yellow); 
}