.box {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2px;
  background-color: white; 
}

.box.correct { background-color: #6aaa64; color: white; border-color: #6aaa64; }
.box.partial { background-color: #c9b458; color: white; border-color: #c9b458; }
.box.wrong { background-color: #787c7e; color: white; border-color: #787c7e; }